<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5">
        
          <assemblies>
            <add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
          </assemblies>
      </compilation> 
      <httpRuntime targetFramework="4.5" />
    </system.web>
 <appSettings>

    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
   <add key="ldap_authentication" value="off"/>
  <add key="ldap_Url" value="LDAP://bp1.ad.bp.com"/>
  </appSettings>
  <connectionStrings>
     <add name="UserAdminConnectionString" connectionString="Data Source=D-184003225\DATABASETAXVIEW;Initial Catalog=USERADMINMANAGEMENTDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  
  
</configuration>
